In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv("amazon_data.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

removing unwanted columns

In [23]:
cols=['date_added','description']
df.drop(cols,axis=1,inplace = True)
df.head()

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2014,NaN,113 min,"Comedy, Drama"
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2018,13+,110 min,"Drama, International"
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2017,NaN,74 min,"Action, Drama, Suspense"
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2014,NaN,69 min,Documentary
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,1989,NaN,45 min,"Drama, Fantasy"

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7585 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   release_year  9668 non-null   int64
 7   rating        9331 non-null   object
 8   duration      9668 non-null   object
 9   listed_in     9668 non-null   object
dtypes: int64(1), object(9)
memory usage: 755.4+ KB

In [28]:
df.describe()

       release_year
count   9668.000000
mean    2008.341849
std       18.922482
min     1920.000000
25%     2007.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

In [29]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2083
cast            1233
country         8996
release_year       0
rating           337
duration           0
listed_in          0
dtype: int64

removing missing values rows

In [34]:
df = df.dropna()

In [35]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

check duplicate

In [37]:
df.duplicated()

1       False
107     False
142     False
165     False
173     False
        ...
9604    False
9614    False
9641    False
9643    False
9644    False
Length: 538, dtype: bool

In [39]:
df.head()

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2018,13+,110 min,"Drama, International"
107,s108,Movie,Whoop!,Kreeti Gogia,Abish Mathew,India,2018,18+,64 min,"Arts, Entertainment, and Culture"
142,s143,Movie,Wedding Cha Shinema,Saleel Kulkarni,"Shivraj Waichal, Rucha Inamdar, Mukta Barve, P...",India,2019,ALL,138 min,"Comedy, International"
165,s166,Movie,Waiting for You,Charles Garrad,"Colin Morgan, Fanny Ardant, Abdelkrim Bahloul,...","United Kingdom, France",2018,13+,92 min,"Drama, Romance, Suspense"
173,s174,Movie,Vows of Deception,Bill Norton,"Cheryl Ladd, Nick Manusco, Nancy Cartwright, V...",United States,1996,PG-13,94 min,"Drama, Suspense"

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 538 entries, 1 to 9644
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       538 non-null    object
 1   type          538 non-null    object
 2   title         538 non-null    object
 3   director      538 non-null    object
 4   cast          538 non-null    object
 5   country       538 non-null    object
 6   release_year  538 non-null    int64
 7   rating        538 non-null    object
 8   duration      538 non-null    object
 9   listed_in     538 non-null    object
dtypes: int64(1), object(9)
memory usage: 46.2+ KB

rename listed_in column name with genres

In [42]:
df.rename(columns={'listed_in':'genres'},inplace=True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 538 entries, 1 to 9644
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       538 non-null    object
 1   type          538 non-null    object
 2   title         538 non-null    object
 3   director      538 non-null    object
 4   cast          538 non-null    object
 5   country       538 non-null    object
 6   release_year  538 non-null    int64
 7   rating        538 non-null    object
 8   duration      538 non-null    object
 9   genres        538 non-null    object
dtypes: int64(1), object(9)
memory usage: 46.2+ KB

save cleaned csv file

In [47]:
df.to_csv("cleaned_data.csv", index=False)
print("sucessfull")

sucessfull